<!DOCTYPE html>
<html>
	
<head>
  
  <title>Sports App</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style type="text/css">
    .card{     
          margin-bottom: 5px;
      }
      #jumbo{
          width:100%;
      }
      .up{     
          margin-top: 70px;
      }
      body{
		 background-color: black;
	 }
	 .container1{
		 background-color: chartreuse;
	 }
  </style>
</head>


	<body>
      <div class="ui inverted top fixed menu">
          <div class="ui container">
              <div class= "header item"><i class = "big volleyball ball icon"></i>Sports Club</div>
              <a href="/" class="item">Home</a>
              <a href="/newteam" class="item">New Team</a>
              
              <div class="right menu">
                <div class="item">
                  <a href="/login" class="ui grey button">Log in</a>
                </div>
                <div class="item">
                  <a href="/register" class="ui  grey button">Sign Up</a>
                </div>
                <div class="item">
                  <a href="/logout" class="ui grey button">Sign out</a>
                </div>
              </div>
          </div>
        </div>
