<%- include("partials/header") %>
<div class="jumbotron">
    <h1 class="display-4">Sports scoring system</h1>
    <p class="lead"></p>
        
    <img id="jumbo" src="https://images.static-collegedunia.com/public/college_data/images/appImage/24593_VJIT_APP.jpg">
   
   
   </p>
  </div>
<!--cards-->
<div class="container">
    <h1 style="margin-bottom: 25px; text-align:center; color: white;"> SPORTS AVAILABLE</h1>
    <div class="row">
        <div class="col-lg-4 col-sm-6">   
            <div class="card text-black bg-danger" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Football</h5>
                    <a href="/football" class="ui right aligned black button">View</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card text-black bg-danger" style="width: 18rem;">
                <img src="http://pngimg.com/uploads/cricket/cricket_PNG134.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Cricket</h5>
                <a href="/Cricket" class="ui right aligned black button">View</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card text-black bg-danger" style="width: 18rem;">
                <img src="https://images.app.goo.gl/bFNHPPsPNnhKY1Au7" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Volleyball</h5>
                <a href="/volleyball" class="ui right aligned black button">View</a>
                </div>
            </div>
        </div> 
        <div class="col-lg-4 col-sm-6">   
            <div class="card text-black bg-danger" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Basketball</h5>
                    <a href="/basketball" class="ui right aligned black button">View</a>
                </div>
            </div>
        </div> 

        <div class="col-lg-4 col-sm-6">
            <div class="card text-black bg-danger" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Throwball</h5>
                <a href="/throwball" class="ui right aligned black button">View</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card text-black bg-danger" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">koko</h5>
                <a href="/koko" class="ui right aligned black button">View</a>
                </div>
            </div>
        </div> 

    </div>
</div>

<%- include("partials/footer") %>