<%- include("partials/header") %>
<div class="jumbotron">
    <h1 class="display-4">sports scoring system</h1>
    <p class="lead"></p>
   
    <img id="jumbo" src="https://images.static-collegedunia.com/public/college_data/images/appImage/24593_VJIT_APP.jpg">
   
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
<!--cards-->
<div class="container">
    <h1> sports available! </h1>
    <div class="row">
        <div class="col-lg-4 col-sm-6">   
            <div class="card" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Football</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/football" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Cricket</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/Cricket" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Volleyball</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/volleyball" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> 
        <div class="col-lg-4 col-sm-6">   
            <div class="card" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Basketball</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> 

        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Throwball</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="https://www.thestatesman.com/wp-content/uploads/2020/04/1c5b1aa3386eeb2c21d633f04e2ddfbe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">koko</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> 

    </div>
</div>

<%- include("partials/footer") %>