<%- include("partials/header") %>

<div class="up container col-md-7">
  <h1 style="margin-top: 128px; text-align:center; color: white; ">LOGIN</h1>
<form class="ui form" action="/login" method="POST">
    <div class="field">
      <label>Username</label>
              <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
      <label>Password</label>
          <input type="password" name="password" placeholder="password">
    </div>
    <button class="ui red button" type="submit">Login</button>
</form>
</div>

<%- include("partials/footer") %>