<%- include("partials/header") %>

<div class="up container col-md-7">
  <h1 style="text-align:center;margin-top: 128px; color: white; ">SIGN UP</h1>
  <form class="ui form" action="/register" method="POST">
      <div class="field">
        <label>Username</label>
                <input type="text" name="username" placeholder="username">
      </div>
      <div class="field">
        <label>Password</label>
            <input type="password" name="password" placeholder="password">
      </div>
      <button class="ui red button" type="submit">Create</button>
  </form>
  </div>

<%- include("partials/footer") %>